bin
obj
/vs_2010/*.suo
/vs_2010/soar_lib/*.user
/vs_2010/*.sdf
*.user
/vs_2010/soar.opensdf
/vs_2010/soar_main/*.bin
/vs_2010/soar_main/*.txt
*.ipch
/LocalConfig.cfg
*.bin
*.ncb
/sOAR_example_NrBroodCycles_summary_BW.txt
